<h2>{{title}}</h2>
<h1>1+1={{1+1}}</h1>
<app-news></app-news>
<h1>3+4={{sum(3,4)}}</h1>
<!-- 第一种设置方式 -->
<button class="{{classStr}}">按钮</button>
<h1 class="abc" class="{{classStr}}">class1</h1>
<h1 [class]="classStr">class2</h1>
<h1 [attr.class]="classStr">class3</h1>
<!-- <h1 data-index="{{msg}}"></h1> -->
<h1 [attr.data-index]="msg">msg</h1>

<!-- 变量类型 -->
<h1 class=""></h1>

<!-- 字符串模式 -->
<h1 [class]="classStr">class4</h1>
<h1 [class]="classObj">class5</h1>


<h1 [class]="{bgBlue:isShow}">class6</h1>

<!-- 数组模式 -->
<h1 [class]="['bgBlue','active','abc']">class7</h1>

<h1 [class]="classArr">class8</h1>



<!-- style -->
<!-- style表达式的类型 -->
<!-- 字符串变量 -->
<h1 [style]="styleStr"></h1>
<h1 [style]="styleObj"></h1>
<!-- 数组的模式已经被废弃了 -->

<h1 [style]="styleArr">fff</h1>

<!-- vue没有的样式方式 -->
<h1 [style.background]="color">1111</h1>
<h1 [style.width.px]="px">13123123</h1>


<!-- 事件绑定 由等号左侧写小括号加上事件名称,右边写调用的事件函数-->
<button (click)="changeColor()">改变颜色</button>
<!-- 对当前的按钮进行颜色的修改 -->
<button (click)="changeButton($event)">改变按钮</button>

<!-- 条件的渲染
  person如果是广东人
  就显示广东人的疫情信息
-->
<div *ngIf="person=='广东人'">广东：1000人</div>
<div *ngIf="person=='湖北人'">湖北：40000人</div>


<button (click)="togglePerson()">切换身份</button>

<!-- 这里使用的条件渲染,会移除document,添加进DOM都会消耗性能 -->
<!-- 使用style进行条件渲染,如果需要频繁的切换内容,那么需要style来完成条件的渲染 -->
<div [style.display]="person=='广东人'?'block':'none'">广东：1000人</div>
<div [style.display]="person=='湖北人'?'block':'none'">湖北：40000人</div>

<!-- 循环语句的使用 -->
<ul>
  <li *ngFor="let item of Arr;let i = index" (click)="choosePerson(item,i)">{{i+1}}:姓名{{item}}</li>
</ul>
<!-- 列表循环获取索引值 -->
<!-- 循环对象  不支持此类的写法 -->
<!-- <ul>
  <li *ngFor="let item of student">value:{{item}}</li>
</ul> -->

<!-- 条件渲染,匹配多种情况 -->
<div [ngSwitch]="orderState">
  <div *ngSwitchCase="'睡觉'">卧室</div>
  <div *ngSwitchCase="'看电视'">客厅</div>
  <div *ngSwitchCase="'吃饭'">餐厅</div>
  <div *ngSwitchCase="'发呆'">阳台</div>
  <div *ngSwitchDefault>厕所</div>
</div>


<div [ngSwitch]="orderState1">
  <div *ngSwitchCase="1">待付款</div>
  <div *ngSwitchCase="2">已付款</div>
  <div *ngSwitchCase="3">发货</div>
  <div *ngSwitchCase="4">已收货</div>
  <div *ngSwitchDefault>丢失</div>
</div>


<!-- 数据的双向绑定用法 -->
<div>

  <label for="">用户名</label>
  <input type="text" [(ngModel)]="username">


  <label for="">密码</label>
  <input type="text" [(ngModel)]="password">
  <button (click)="chlickFn()">登录</button>
</div>
<!-- 过滤器转换为大写 -->
<h1>用户名：{{username | uppercase}}</h1>
<h1>密码:{{password}}</h1>


<!-- 可以使用一下这种方式来绑定   要注意的是这里input1的优先级是要比ts里面的优先级更高的,所以这里即使你在ts文件里设置了同名的变量这里也是不会被覆盖的 -->
<div>
  <label for="">用户名</label>
  <input #input1 type="text">
  <input type="text" [(ngModel)]="student1.name">
</div>


<div>
  <label for="">密码</label>
  <input #input2 type="text">
</div>

<button   (click)="getContent(input1.value,input2.value)">获取账号密码</button>
<!-- 使用过滤器将对象转换成json的格式输出 -->
<!-- 将这个数据与双向数据绑定 -->
<h1>{{student1|json}}</h1>
<!-- 使用过滤器将时间过滤掉 -->
<h1>显示时间{{time|date:"20yy年MM月dd日hh时mm分ss秒"}}</h1>


<!--  -->
<form action="" #formobj='ngForm'>
  <input type="text" [(ngModel)]="xingming" name="xingming">
  <input type="text" [(ngModel)]="mima" name="mima">
  <button (click)='eventFn(formobj)'>按钮</button>
</form>